*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    color: black;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/* ----- Header ----- */

.mute{
    background-color: white;
    padding: 0.5%;
    border-radius: 15px;
}

/* ----- Main Content ----- */

.container{
    margin-top: 8%;
}

.search-bar{
    border-radius: 5px;
}

main h1{
    color: white;
    text-shadow: black 3px 3px 3px;
}

#matchList{
    margin-top: 0.2%;
    background-color: white;
    border-radius: 5px;
    padding-left: 1%;
}

/* ----- Footer -----*/

footer{
    padding-top: 1%;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

@media screen and (max-width: 425px){

}

@media screen and (min-width: 426px) and (max-width: 768px) {

}

@media screen and (min-width: 768px) and (max-width: 992px){

}

@media screen and (min-width: 992px) and (max-width: 1365px){

}

@media screen and (min-width: 1365px) and (max-width: 1568px){

}